<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<context-param>
		<description>
			The name of the database folder can be specified in two ways: 
				- If param-value doesn't include a slash, the database folder will be created in user home (prefixed by "db4o" or "perst"). 
				- If param-value includes a slash (java.io.File.separator), the value will be interpreted as path for the database folder.
		</description>
		<param-name>JEASE_DATABASE_NAME</param-name>
		<param-value>jease</param-value>
	</context-param>

	<context-param>
		<description>
			Which database engine should be used?  For Perst, use "jfix.db4o.engine.PersistenceEnginePerst".
		</description>
		<param-name>JEASE_DATABASE_ENGINE</param-name>
		<param-value>jfix.db4o.engine.PersistenceEngineDb4o</param-value>
	</context-param>

	<listener>
		<listener-class>jease.cmf.web.servlet.JeaseServletListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>JeaseServletFilter</filter-name>
		<filter-class>jease.cmf.web.servlet.JeaseServletFilter</filter-class>
		<init-param>
			<param-name>JEASE_SITE_CONTROLLER</param-name>
			<param-value>/site/Controller.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>JeaseServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>JeaseFckConnector</servlet-name>
		<servlet-class>jease.cmf.web.servlet.JeaseFckConnector</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JeaseFckConnector</servlet-name>
		<url-pattern>/zkau/fckbrowser.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>zkLoader</servlet-name>
		<servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
		<init-param>
			<param-name>update-uri</param-name>
			<param-value>/zkau</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zul</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zhtml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>auEngine</servlet-name>
		<servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>auEngine</servlet-name>
		<url-pattern>/zkau/*</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
			<trim-directive-whitespaces>true</trim-directive-whitespaces>
		</jsp-property-group>
	</jsp-config>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<mime-mapping>
		<extension>zhtml</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zul</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>index.zul</welcome-file>
		<welcome-file>index.zhtml</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
