#header,#tabs,#breadcrumb,#news,#sidebar,#footer {
	display: none;
}

body {
	background: white;	
}

#container {
	width: 100%; 
	padding: 0px;
	margin: 0px;
	border: none;
}

#content {
	width: 90%;
	margin: 10px;
	padding: 10px; 
}