#header,#tabs,#sidebar,#breadcrumb,#news,#sidebar,#footer {
	display: none;
}

#container {
	width: 100%; 
	padding: 0px;
	margin: 0px;
	border: none;
	background: none;
}

#content {
	background: none;
	width: 90%;
	padding: 25px;
}